<app-filter-form (sendName)="handlePet($event)"></app-filter-form>

<app-loader class="loader" *ngIf="isLoading"></app-loader>

<div class="container">
  <mat-card class="mat-card" *ngFor="let pet of pets">
    <!-- <ul>
    <li > -->
    <div class="mat-card__item">
      <mat-card-header class="mat-card__title">
        <mat-card-title>{{ pet.name }}</mat-card-title>
      </mat-card-header>
      <img
        class="mat-card__img"
        mat-card-image
        src="{{ pet.img }}"
        alt="Foto de {{ pet.name }}"
      />
      <mat-card-content>
        <p>
          {{ pet.description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="mat-card__actions">
        <!-- <button (click)=onClick(pet)>Más info</button> -->
        <!-- <button mat-button onclick="window.location.href='/pet-detail/{{pet.name}};'">Más info</button> -->
        <!-- <button >Más info</button> -->
        <button mat-button>
          <a class="mat-card__button" routerLink="/pet-detail/{{ pet.id }}"
            >Más info</a
          >
        </button>
        <button mat-button>
          <a class="mat-card__button" href="mailto:{{ pet.email }}"
            >Contactar</a
          >
        </button>
      </mat-card-actions>
      <!-- </li>
  </ul> -->
    </div>
  </mat-card>
</div>

<!-- </div> -->
