@import "../../../styles.scss";

.mat-card {
  display: flex;
  align-items: center;
  margin: 25px;

  &__item {
    width: 100%;
  }
  &__actions {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  &__img {
    height: 100%;
  }
  &__title {
    display: flex;
    justify-content: center;
  }
  &__button {
    text-decoration: none;

    color: $primary;
    font-size: $font-normal;
  }
}
.mat-button {
  background-color: rgb(230, 230, 230);

  &:hover {
    background-color: $secondary;
  }
}

.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
