<div class="not-found">
  <div class="not-found__text">
    <p>Upppsss</p>
    <div class="not-found__text--small">
      <p>Algo ha salido mal, </p>
      <p>pero tenemos la mascota que necesitas en este  <a href="home">enlace</a></p>
  </div>

</div>

