.not-found {
  background-image: url('../../../../assets/404-not-found.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  width: 100vw;
  height: 100vh;

  position: relative;

  &__text{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    font-size: 6vw;
    margin: 5%;
    line-height: 70px;
  }
  &__text--small{
    font-size: 20px;
    margin: 5%;
    line-height: 40px;
  }
}

