<header class="header">
	<div class="header-content" >
    	<div class="header-content__inner">
        	<h1 class="header-content__title">Pelos y Plumas</h1>
        	<hr class="header-content__hr">
        	<p class="header-content__p">Encuentra la mascota que necesitas</p>
    	</div>
	</div>
</header>
