@import '../../../../styles.scss';

.header {
  background-image: url('../../../../assets/header-img.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $explain;
  min-height: 400px;
}
.header .header-content {
  position: relative;
  text-align: center;
  padding: 150px 150px 100px;

  &__title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4vw;
  }
&__hr{
  border-color: #ffffff;
  border-width: 1px;
  max-width: 50%;
  margin: 2% auto;
}
&__p{
  color: $explain;
  font-size: 3vw;
}

}
// header .header-content .header-content-inner h1 {
//   font-weight: 700;
//   text-transform: uppercase;
//   font-size: 50px;
// }

// header .header-content .header-content-inner hr {
//   border-color: #ffffff;
//   border-width: 3px;
//   max-width: 50px;
// }

header .header-content .header-content-inner p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}
