@media only screen and (min-width: 1200px) {
  .mat-card {
    width: 30%;
  }
  .mat-card__detail {
    width: 40%;
  }
}
@media only screen and (min-width: 824px) {
  .mat-card {
    width: 25%;
  }
  .mat-card__detail {
    width: 50%;
  }
}

