
$font-stack: 'Josefin Sans', sans-serif;
$font-small: 0.7em;
$font-normal: 1em;
$font-big:1.5em;


$primary: #000000;
$secondary: rgb(89, 152, 25);
$explain: rgb(255, 255, 255);

* {
  font-family: $font-stack;
}

.font-global{

    font-family: $font-stack;

    &__normal{
        font-size: $font-normal;
        color:$primary;
    }
    &__small{
        font-size: $font-small;
        color:$primary;
    }
    &__big{
        font-size: $font-big;
        color:$primary;
    }


}


