.loader {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.666);
  margin: 0 auto;
}

.uploader-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgb(89, 152, 25);
}
