<app-header></app-header>
<app-nav-bar></app-nav-bar>
<main>
  <router-outlet>
  </router-outlet>
</main>
<app-footer></app-footer>
<!--<mat-form-field appearance="fill">
  <mat-label></mat-label>
</mat-form-field>-->

