<div class="container">
<p class="font-global__big title">Beneficios de tener una mascota</p>
<div class="block">
<p>
  Fuente de bienestar emocional, los animales nos ayudan a canalizar nuestros
  sentimientos, nos curan con su amor incondicional, activan nuestro cuerpo y
  mente y nos arrancan altas dosis de buen humor. Te mostramos los beneficios de tener una mascota.</p>
</div>
<div class="block">
  <img class="block__number" src="http://www.june.es/pets/1.svg" alt="">
<p class="block__text">

  Nos ayudan a expresar nuestras emociones. Ser capaces de canalizar nuestras
  emociones es fundamental para sentirnos felices. Ante un animal nadie se
  siente juzgado lo que nos invita a mostrarnos tal y como somos sabiendo que
  siempre seremos aceptados. Con ellos mostramos nuestra alegría o nuestra
  tristeza de una manera natural y terapéutica dando salida a emociones que, en
  otras circunstancias, permanecerían atrapadas en nuestro cerebro.
</p>
</div>
<div class="block">
  <img class="block__number" src="http://www.june.es/pets/2.svg" alt="">
<p class="block__text">
  Mejoran nuestra autoestima y nuestra capacidad para relacionarnos con los
  demás. Al hacernos sentir seguros y aceptados, es más fácil entrenarnos en el
  arte de las relaciones sociales. Abrirnos a los demás sin miedo. Además, más
  de una amistad ha surgido a raíz de un encuentro de mascotas.
</p>
</div>
<div class="block">
  <img class="block__number" src="http://www.june.es/pets/3.svg" alt="">
<p class="block__text">
  Reducen el estrés. El bienestar que sentimos cuando estamos con ellas hace
  que nuestro cuerpo libere más hormonas de la felicidad. Por ejemplo, hay
  estudios que demuestran que el ronroneo de nuestro gato tiene efectos
  positivos en nuestra salud o que acariciar a nuestro perro nos relaja, por
  citar algunos ejemplos.
</p>
</div>
<div class="block">
  <img class="block__number" src="http://www.june.es/pets/4.svg" alt="">
<p class="block__text">
  Mejoran nuestra salud cardiovascular y nuestras defensas. Al obligarnos a
  movernos, activan nuestra salud cardiovascular. Una mascota siempre pide lo
  que necesita -pasear, comer, jugar, etc.- lo que nos invita a levantarnos del
  sillón y satisfacer su demanda. Caminaremos más y estaremos menos centrados en
  nuestro bucle mental. En el caso de que tengamos que recuperarnos de alguna
  enfermedad o operación, conseguirán que nos encontremos bien antes. Además,
  los estudios demuestran que las personas que conviven con animales están más
  protegidas contra las enfermedades al contar con un sistema inmunológico más
  reforzado. En el caso de los niños es especialmente significativo.
</p>
</div>
<div class="block">
  <img class="block__number" src="http://www.june.es/pets/5.svg" alt="">
<p class="block__text">
  Estimulan nuestra memoria, atención y concentración. Tener una mascota
  lleva consigo una serie de obligaciones para su cuidado: desparasitación,
  alimentación, ejercicio... Tener tu cabeza ocupada en ello activa tu cerebro
  y, además, da carpetazo al sentimiento de soledad. Por eso tener una mascota
  es tan recomendable en el caso de las personas mayores.
</p>
</div>
<div class="block">
  <img class="block__number" src="http://www.june.es/pets/6.svg" alt="">

<p class="block__text">
  Estimulan tu sentido de pertenencia a nuestro planeta. En su último libro,
  Our wild calling, casi todos los entrevistados por Louv tenían una historia
  que contar sobre una interacción que cambió la vida con un animal, desde una
  mascota familiar hasta un encuentro casual con animales salvajes, que les
  movió hacia una mayor comprensión de otras especies. En el centro de estas
  historias está lo que Louv llama el "hábitat del corazón", o esa conexión
  profunda entre una persona y otro animal, y cómo, a través de estas
  conexiones, podemos curarnos a nosotros mismos y a nuestro planeta herido.
</p>
</div>
</div>
<div class="home__button">
<button mat-stroked-button onclick="window.location.href='/pets;'">Sí, quiero una mascota</button>
</div>
