.container {
  width: 90%;
  margin: auto;
  padding: 3%;
  font-size: 1.2em;
}

.title {
  margin: 4%;
  text-align: center;
}
.block {
  display: flex;
  margin: 0 0 20px;
  text-align: justify;


  &__number {
    max-width: 50px;
    margin: 10px;
  }
}
.mat-stroked-button{
  margin: auto;
  height: 50px;
  width: 50%;
  background-color: rgb(89, 152, 25);
  &:hover{
    background-color: rgb(57, 97, 16);
  }
}
.home__button{
  display: flex;
  justify-content: center;
}
