.container{
  width: 100%;
  background-color: black;
  min-height: 100px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  margin-top: 20px;

  &__social{
    color:white;
    font-size: 30px;

    padding: 20px;
    width: 10%;
  }
  &__text{
    color:white;
    font-size: 10px;
    margin: 0px;
    padding: 3px;
  }
}
.hueco{
  height: 150px;
}

