<div class="hueco"></div>
<div class="container">
  <div class="container-sm">
    <span class="fab fa-facebook-f container__social"></span>
    <span class="fab fa-twitter container__social"></span>
    <span class="fab fa-instagram container__social"></span>
  </div>
  <div>
    <p class="container__text">{{title}} © {{ year }}</p>
    <p class="container__text">Todos los derechos reservados</p>
  </div>
</div>
