// .form-group {
//   margin-bottom: 1rem;
// }
.add-form{
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin: 15px auto;


  &__title{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    margin: 4%;
  }

}
mat-form-field{
  width: 50%;
 margin: 15px auto;
}
.form-img{
  display: none;
}
.custom-img{
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  display: inline-block;
  padding: 6px 0;
  cursor: pointer;
  width: 50%;
  text-align: center;
}
.mat-stroked-button{
  margin: auto;
  width: 25%;
  background-color: rgb(89, 152, 25);
  &:hover{
    background-color: rgb(57, 97, 16);
  }
}

