<h3 class="add-form__title">Añade un animal para que sea adoptado</h3>
<form [formGroup]="petForm" (ngSubmit)="onSubmit()">
  <div class="add-form">

      <mat-form-field  appearance="outline">
        <mat-label>Animal</mat-label>
        <input
          matInput
          id="animal"
          type="text"
          formControlName="animal"
          placeholder="Loro"
        />

        <mat-hint
          *ngIf="petForm.controls['animal'].invalid && (petForm.controls['animal'].dirty || petForm.controls['animal'].touched) && petForm?.controls['animal'].errors?.['required']"
          >Animal requerido</mat-hint
        >

        <mat-hint
          *ngIf="petForm.controls['animal'].invalid && (petForm.controls['animal'].dirty || petForm.controls['animal'].touched) && petForm?.controls['animal'].errors?.['minlength']"
          >Longitud minima de 1 caracter</mat-hint
        >
      </mat-form-field>

  </div>

  <div class="add-form">

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          id="name"
          type="text"
          formControlName="name"
          placeholder="Nombre de la mascota"
        />

        <mat-hint
          *ngIf="petForm.controls['name'].invalid && (petForm.controls['name'].dirty || petForm.controls['name'].touched) && petForm?.controls['name'].errors?.['required']"
          >Animal requerido</mat-hint
        >

        <mat-hint
          *ngIf="petForm.controls['name'].invalid && (petForm.controls['name'].dirty || petForm.controls['name'].touched) && petForm?.controls['name'].errors?.['minlength']"
          >Longitud minima de 1 caracter</mat-hint
        >
      </mat-form-field>

  </div>
  <div class="add-form">

      <mat-form-field appearance="outline">
        <mat-label>Edad</mat-label>
        <input
          matInput
          id="age"
          type="number"
          formControlName="age"
          placeholder="Edad de la mascota"
        />

      </mat-form-field>

  </div>
  <div class="add-form">

      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          id="description"
          type="text"
          formControlName="description"
          placeholder="Descripción de la mascota">

        </textarea>

      </mat-form-field>

  </div>


  <div class="add-form">

    <mat-form-field appearance="outline">
      <mat-label>Disponible para acogida</mat-label>
      <mat-select>
        <mat-option value="'true'">Sí</mat-option>
        <mat-option value="'false'">No</mat-option>
      </mat-select>

    </mat-form-field>

</div>

  <div class="add-form">
  <label class="custom-img">
    <input class="form-img" type="file" (change)="handleImage($event)">

<mat-icon>cloud_upload</mat-icon><span>Sube tu imagen</span>
  </label>
  </div>
  <div class="add-form">

    <mat-form-field appearance="outline">
      <mat-label>Protectora</mat-label>
      <input
        matInput
        id="protect"
        type="text"
        formControlName="protect"
        placeholder="Nombre de la protectora"
      />
    </mat-form-field>

</div>
  <div class="add-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        class="add-form__input"
        matInput
        id="email"
        type="text"
        formControlName="email"
        placeholder="hola@company.com"
      />

      <mat-hint
        *ngIf="
          petForm.controls['email'].invalid &&
          (petForm.controls['email'].dirty || petForm.controls['email'].touched && petForm?.controls['animal'].errors?.['required'])
        "
        class="alert"
        >Email requerido
      </mat-hint>
      <!-- <mat-hint *ngIf="petForm?.controls['email'].errors?.['required']">
        Email requerido
      </mat-hint> -->
      <mat-hint *ngIf="petForm?.controls['email'].errors?.['minlength']">
        Longitud minima de 5 caracteres
      </mat-hint>
      <mat-hint *ngIf="petForm?.controls['email'].errors?.['email']">
        Formato de email incorrecto
      </mat-hint>
    </mat-form-field>
  </div>
<div class="add-form">
  <button mat-stroked-button type="submit" [disabled]="!petForm.valid">Submit</button>
</div>
</form>
