/* You can add global styles to this file, and also import other style files */
// @import "./responsive";
@import './styles/responsive';
@import './styles/typography';

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

