@import '../../../../../styles.scss';

.mat-card__detail {

  align-items: center;
  margin: 30px;
  &__item {
    width: 100%;
  }
  &__actions {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  &__img {
    height: 100%;
  }
  &__title {
    display: flex;
    justify-content: center;
  }
  &__button {
    text-decoration: none;
    color: black;
    font-size: 1em;
  }
}
.mat-button {
  background-color: rgb(230, 230, 230);
}
.mat-button:hover {
  background-color: rgb(89, 152, 25);
}
.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
