
<div class="container">
  <mat-card class="mat-card__detail">

      <div class="mat-card__detail__item">
      <mat-card-header class="mat-card__detail__title">
        <mat-card-title>{{ pet?.name }}</mat-card-title>
      </mat-card-header>
      <img class="mat-card__detail__img" mat-card-image src="{{ pet?.img }}" alt="Foto de {{ pet?.name }}" />
      <mat-card-content>
        <p>
          {{ pet?.description }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>
          Animal: {{ pet?.animal }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>
          Años: {{ pet?.age }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>
          Protectora: {{ pet?.protect }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>
          Disponible en acogida: {{ pet?.inreception === 'true' || pet?.inreception === true ? 'Si': 'No' }}
        </p>
      </mat-card-content>
      <mat-card-actions class="mat-card__detail__actions">
        <!-- <button (click)=onClick(pet)>Más info</button> -->
        <!-- <button mat-button onclick="window.location.href='/pet-detail/{{pet.name}};'">Más info</button> -->
        <!-- <button >Más info</button> -->
        <button mat-button>
          <a class="mat-card__detail__button" routerLink="/pets">Atrás</a>
        </button>
        <button mat-button>
          <a class="mat-card__detail__button" href="mailto:{{pet?.email}}">Contactar</a></button>

      </mat-card-actions>
    <!-- </li>
  </ul> -->
</div>
</mat-card>
</div>
