<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item" *ngFor="let item of menuList">
      <div class="navbar__group">
      <img class="navbar__img" src="{{item.img}}">
      <a class="navbar__item-link" [routerLink]="item.url">{{item.label}}</a>
    </div>
    </li>
  </ul>
</nav>
