@import '../../../../styles.scss';

.navbar{
  width: 100%;
  background-color: $secondary;
  min-height: 60px;
  margin: -14px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  font-size: $font-normal;

  &__group{
    display: flex;
    justify-content: center;
  }

  &__list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    line-height: 60px;
  }
  &__item{
    width: 20%;
    text-align: center;
  }
  &__item:hover{
    background-color: $secondary;
  }
  &__item-link{
    text-decoration: none;
    color: $primary;
  }
  &__img{
    width: 10%;
    text-align: center;
    margin: 10px;
  }

}

